body {
    color: #333;
    font-family: 'PT Sans', Helvetica Neue, Arial, sans-serif;
    height: 100%;
    background: url(../images/background.jpg) no-repeat;
}

a {
    text-decoration: none;
    color: #89aad7;
}

h2 {
    font-size: 1.6em;
    font-weight: 700;
    line-height: 1em;
    margin: 0;
    border-bottom: 1px solid gray;
}

#page {
    background: rgba(255, 255, 255, 0.7);
}

#container {  
    padding-left: 16em;
}

.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 16em;
    margin-left: -16em;
    color: #fff;
    padding-top: 5em;
    text-align: center;
    /* background: #2c3e50; */
}

#content {
    padding: 2em 3em 0;
}

.pure-menu-custom ul {
    margin-top: 1em;
}

.pure-menu-custom.pure-menu-open, .pure-menu-custom.pure-menu-horizontal li .pure-menu-children {
    background: rgba(255, 255, 255, 0.7);
    border: none;
}

.pure-menu-custom li a:hover,.pure-menu-custom li a:focus, a:hover, a:focus {
    color: white;
    background: #89aad7;
    text-decoration: none;
}

.pure-menu-custom a, .pure-menu-custom .pure-menu-can-have-children>li:after {
    color: #89aad7;
    font-size: 1.5em;
}

.pure-menu-custom .pure-menu-selected a {
    color: #1abc9c;
}

.post {
    margin-bottom: 2em;
    font-size: 1.5em;
}
.post .header {
    background: #efefef;
}
.post .header h2 {
    color: gray;
}

.post a{
    text-decoration: underline;
}
.post a:hover {
    text-decoration: none;
}

.post>h2 a {
    text-decoration: none;
}

.meta {
    margin: 0;
    color: #777;
    font-size: .8em;
}

blockquote {
    border-left: .3em solid #1abc9c;
    margin-left: 0;
    padding-left: 1.5em;
    font-style: italic;
}

@media only screen and (max-width: 768px) {
    .sidebar {
        width: 100%;
        position: relative;
        margin: 0;
        padding-top: 2em;
    }

    .menu > li > a {
        background: rgba(255, 255, 255, 0.7);
    }

    #container {
        padding: 0;
    }

    .pure-menu-custom ul {
        margin-top: 0;
    }
    .toggle:after {
        background: gray !important;
    }
}

@media only screen and (max-width: 480px) {
    #content {
        padding: 2em 1em 0;
    }
}
